.cart-notification.animate.active {
    z-index: 3;
}
.cart-notification-wrapper {
    position: relative;
}
.cart-notification-inner button.button-label{
    width: 100%;
    text-decoration: underline;
    padding: 0;
    margin-top: 15px;
    transition: 0.3s ease;
    color: rgb(var(--color-foreground));
}
.cart-notification-inner button.button-label:hover{
    color: rgb(var(--color-link-hover));
}
.cart-notification {
    background-color: rgba(var(--color-foreground),0.6);
    padding: 1rem 2rem;
    position: fixed;
    visibility: hidden;
    width: 100%;
    z-index: 999;
    top: 0px;
    bottom: 0;
    right: 0;
    left: 0;

}
.cart-notification .cart-notification-inner {
    width: 420px;
    background-color: rgb(var(--color-background));
    background: var(--gradient-background);
    border-radius: var(--popup-corner-radius);
    border-color: rgba(var(--color-foreground),var(--popup-border-opacity));
    border-style: solid;
    border-width: var(--popup-border-width);
    box-shadow: var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius) rgba(var(--color-shadow),var(--popup-shadow-opacity));
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    padding: 20px;
}
.cart-notification__header {
    float: right;
    margin-right: -15px;
    margin-top: -15px;
}
.cart-notification__links {
    text-align: center;
    display: flex;
    column-gap: 10px;
}
.cart-notification__links a,.cart-notification__links form button{
    min-height: 44px;
}
.cart-notification__links a,.cart-notification__links form {
    width: 50%;
}
.header-wrapper:not(.header-wrapper--border-bottom) + cart-notification .cart-notification {
    border-top-width: 0.1rem;
}
.cart-notification{
    display: none;
}
.cart-notification.active {
    transform: translateY(0);
    transition: transform var(--duration-default) ease, visibility 0s;
    visibility: visible;
    display: block;
}
.cart-notification__heading {
    align-items: center;
    display: flex;
    flex-grow: 1;
    margin-bottom: 0;
    margin-top: 0;
}
.cart-notification__heading .icon-checkmark {
    margin-right: 1rem;
    width: 1.3rem;
}
.modal__close-button.link.cart-notification__close {
    width: 44px;
    height: 44px;
    display: block;
    position: unset;
}
.cart-notification__links {
    text-align: center;
}
.cart-notification__links > * {
    margin-top: 10px;
}
.cart-notification__links .link.button-label:hover{
    color: var(--color-wbmaincolors-text);
}
.cart-notification-product span{
    align-items: flex-start;
    display: flex;
    margin-bottom: 15px;
}
.cart-notification-product dl {
    margin-bottom: 0;
    margin-top: 0;
}
.cart-notification-product__image {
    margin-right: 15px;
}
.cart-notification-product__name {
    margin-bottom: 0.5rem;
    margin-top: 0;
    font-size: calc(var(--font-body-scale) * 16px);
}
.modal__close-button.link.cart-notification__close .icon {
    width: 14px;
    height: 14px;
}
@media (max-width: 575px){
    .cart-notification .cart-notification-inner{
        width: 300px;
        padding: 15px;
    }
    .cart-notification__links a, .cart-notification__links form {
        width: 100%;
    }
    .cart-notification__links{
        display: block;
    }
}