.mmenu_mainicon svg, .mmenu_mainicon img {
  width: 26px;
  height: 26px;
}
.menu-drawer__navigation-container .menu-drawer__menu-item{
  gap: 10px;
}
.menu-drawer__inner-container.global-settings-drawer {
  border-radius: var(--drawer-corner-radius);
} 
.js menu-drawer > details > summary::before, .js menu-drawer > details[open]:not(.menu-opening) > summary::before {
  content: '';
  position: absolute;
  cursor: default;
  width: 100%;
  height: calc(100vh - 100%);
  height: calc(var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%)));
  top: 100%;
  left: 0;
  background: rgba(var(--color-foreground), 0.5);
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  transition: opacity 0s, visibility 0s;
}
menu-drawer > details[open] > summary::before {
  visibility: visible;
  opacity: 1;
  transition: opacity var(--duration-default) ease, visibility var(--duration-default) ease;
}
.menu-drawer {
  position: absolute;
  transform: translateX(-100%);
  visibility: hidden;
  z-index: 3;
  top: 100%;
  padding: 0;
  border-width: 0 var(--drawer-border-width) 0 0;
  background-color: rgb(var(--color-background));
  overflow-x: hidden;
  border-style: solid;
  border-color: rgba(var(--color-foreground), var(--drawer-border-opacity));
  filter: drop-shadow(
    var(--drawer-shadow-horizontal-offset)
    var(--drawer-shadow-vertical-offset)
    var(--drawer-shadow-blur-radius)
    rgba(var(--color-shadow), var(--drawer-shadow-opacity))
  );
  left: -15px;
  right: -15px;
}
.sticky-menu-drawer_links button {
  border: none;
  background: transparent;
  height: 44px;
  width: 44px;
  padding: 0;
}
.js .menu-drawer {
  height: calc(100vh - 100%);
  height: calc(
    var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%))
  );
}
.js details[open] > .menu-drawer, .js details[open] > .menu-drawer__submenu {
  transition: transform var(--duration-default) ease,
    visibility var(--duration-default) ease;
}
.no-js details[open] > .menu-drawer, .js details[open].menu-opening > .menu-drawer, details[open].menu-opening > .menu-drawer__submenu {
  transform: translateX(0);
  visibility: visible;
}
.js .menu-drawer__navigation .submenu-open {
  visibility: hidden;
}
.menu-drawer__inner-container {
  position: relative;
  height: 100%;
}
.menu-drawer__navigation-container {
  display: grid;
  grid-template-rows: 1fr auto;
  align-content: space-between;
  overflow-y: auto;
  height: 100%;
}
.menu-drawer__submenu{
  padding-bottom: 10px;
}
.menu-drawer__navigation {
  padding: 0 0 20px 0;
}

.menu-drawer__inner-submenu {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.no-js .menu-drawer__navigation {
  padding: 0;
}

.no-js .menu-drawer__navigation > ul > li {
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.04);
}
.no-js .menu-drawer__submenu ul > li {
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.04);
}
.js .menu-drawer__menu li {
  margin-bottom: 0.2rem;
}
.menu-drawer__menu-item {
  padding: 1.1rem 3.2rem;
  text-decoration: none;
  font-weight: var(--font-body-weight);
}
.no-js .menu-drawer__menu-item {
  font-size: 1.6rem;
}
.no-js .menu-drawer__submenu .menu-drawer__menu-item {
  padding: 1.2rem 5.2rem 1.2rem 6rem;
}
.no-js .menu-drawer__submenu .menu-drawer__submenu .menu-drawer__menu-item {
  padding-left: 9rem;
}
.no-js .menu-drawer__menu-item .icon-caret {
  right: 3rem;
}

.menu-drawer__menu-item > .icon-arrow {
  position: absolute;
  right: 2.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.js .menu-drawer__submenu {
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgb(var(--color-background));
  border-left: 0.1rem solid rgba(var(--color-foreground), 0.2);
  z-index: 1;
  transform: translateX(100%);
  visibility: hidden;
}

.js .menu-drawer__submenu .menu-drawer__submenu {
  overflow-y: auto;
}

.menu-drawer__close-button {
/*   margin-top: 1.5rem;   */
  padding: 1.2rem 2.6rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: calc(var(--font-body-scale) * 14px);
  width: 100%;
  background-color: transparent;
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  text-align: left;
  font-weight: var(--font-body-weight-medium);
  word-break: break-word;
}

.no-js .menu-drawer__close-button {
  display: none;
}

.menu-drawer__close-button .icon-arrow {
  transform: rotate(180deg);
  margin-right: 1rem;
  min-width: 15px;
}

.menu-drawer__utility-links {
  position: relative;
}

.menu-drawer__account {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.4rem;
  height: 44px;
}
.menu-drawer__localization.header__localization {
  display: flex;
  justify-content: center;
  column-gap: 25px;
}
.menu-drawer__localization localization-form .disclosure__button span, .disclosure span, .disclosure .disclosure__list-wrapper a.link {
  font-size: calc(var(--font-body-scale) * 14px);
  display: flex;
  align-items: center;
  column-gap: 5px;
  text-align: left;
  font-weight: var(--font-body-weight-medium);
}
.menu-drawer__utility-links:has(ul:empty) .menu-drawer__account,
.menu-drawer__utility-links:has(.menu-drawer__localization) .menu-drawer__account {
  margin-bottom: 0;
}
.menu-drawer__account .icon-account {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}

.menu-drawer__account:hover .icon-account {
  transform: scale(1.07);
}

.menu-drawer .list-social {
  justify-content: center;
  gap: 1rem
}

.menu-drawer .list-social:empty {
  display: none;
}

.menu-drawer .list-social__link {
  padding: 8px;
}
.menu-drawer__navigation .blog_date span,
.menu-drawer__navigation .wbmgproduct .price .price-item{
  font-size: calc(var(--font-body-scale) * 14px);
} 
.menu-drawer__navigation .blog_title a{
  font-size: calc(var(--font-body-scale) * 15px);
}
.menu-drawer__utility-links .wbsecmenu ul.list-menu li a{
  font-weight: var(--font-body-weight);
}
.wbsecmenu ul.list-menu li a span{
  word-break: break-word;
}
.menu-drawer__utility-links .wbsecmenu ul{
  display: inline-grid;
  margin-bottom: 10px;
  padding: 10px 15px;
}
.menu-drawer__utility-links .wbsecmenu ul.list-menu li{
  border-right: none;
}
.menu-drawer__menu-item,.menu-drawer__close-button{
  padding: 10px 15px;
}
.menu-drawer__navigation .blog_title{
  margin: 0;
}
.menu-drawer__menu .wbmgproduct, .menu-drawer__menu .wbmenugallery {
  margin-top: 15px;
}
.menu-drawer__navigation-container::-webkit-scrollbar, .menu-drawer__inner-submenu::-webkit-scrollbar {
  width: 3px;
}
.menu-drawer__navigation-container::-webkit-scrollbar-thumb, .menu-drawer__inner-submenu::-webkit-scrollbar-thumb {
  background-color: rgba(var(--color-foreground), 0.7);
  border-radius: 100px;
}
.menu-drawer__navigation-container::-webkit-scrollbar-track-piece, .menu-drawer__inner-submenu::-webkit-scrollbar-track-piece {
  margin-top: 31px;
}
.menu-drawer summary.menu-drawer__menu-item {
  padding-right: 5.2rem;
  word-break: break-word;
}
@media (min-width: 992px) {
  .wbcategories .menu-drawer__menu-item{
    transition: 0.3s ease;
  }
  .wbcategories .menu-drawer__menu li:first-child .menu-drawer__menu-item {
    border-radius: var(--popup-corner-radius) var(--popup-corner-radius) 0 0;
  }
  .wbcategories .menu-drawer__menu-item:hover{
    background: rgba(var(--color-foreground),0.03);
  }
  desktop-webi-menu {
    position: relative;
  }
  .header__icon--menu svg.icon:last-child, .open .header__icon--menu .icon.icon-hamburger {
    visibility: hidden;
    opacity: 0;
  }
  .open .header__icon--menu svg.icon:last-child {
    visibility: visible;
    opacity: 1;
  }
  .menu-drawer .header__submenu .header__menu-item {
    font-weight: var(--font-body-weight-bold);
  }
  .menu-drawer .header__submenu .header__submenu .header__menu-item {
    font-weight: var(--font-body-weight);
  }
  .js .menu-drawer__menu-item .icon-arrow, .no-js .menu-drawer .icon-caret {
    display: none;
  }
  .header--top-center #menu-drawer{
    right: auto;
  }
  header-drawer.button--secondary {
    fill: rgb(var(--color-button-hover-text));
  }
  header.header .header__icon:not(.link ) .wbcategories svg.icon.icon-hamburger path{
    fill: unset;
  }
  header.header .header__icon:not(.link ) .wbcategories svg.icon.icon-hamburger path
  .wbcategories .header__icon--menu.button .icon, .header__icon.button.button--secondary svg.icon.icon-hamburger path, .header__icon.button.button--primary svg.icon.icon-hamburger path {
    fill: rgb(var(--color-button-text));
  }
  .wbcategories .header__icon--menu.button .icon.icon-close path {
    stroke: rgb(var(--color-button-text));
  }
  .wbcategories .header__icon--menu.button:hover .icon, .header__icon.button.button--secondary:hover svg.icon.icon-hamburger path, .header__icon.button.button--primary:hover svg.icon.icon-hamburger path {
    fill: rgb(var(--color-button-hover-text));
  }  
  .wbcategories .header__icon--menu.button:hover .icon.icon-close path {
    stroke: rgb(var(--color-button-hover-text));
  }
  .wbcategories .header__icon--menu.button--secondary:after {
    content: "";
  }
  .wbcategories .header__icon--menu.button {
    padding: 0 10px;
  }
  .wbcategories .header__icon--menu.button span{
    display: flex;
    justify-content: center;
    line-height: normal;
  }
  .menu-overflow-remove {
    overflow: unset;
  }
  .wbcategories .header__icon--menu{
    width: auto;
    gap: 0;
    min-width: 44px;
    height: auto;
    min-height: 44px;
  }
  .wbcategories .mega-menu-title {
    padding-left: 10px;
  }
  .wbcategories desktop-webi-menu.open > .menu-drawer,
  .wbcategories desktop-webi-menu.open > .menu-drawer__submenu {
    transition: transform var(--duration-default) ease,
      visibility var(--duration-default) ease;
  }
.upsellcollection .icon.icon-error {
  width: 18px;
}
  .no-js desktop-webi-menu.open > .menu-drawer,
  .js desktop-webi-menu.open > .menu-drawer,
  desktop-webi-menu.open > .menu-drawer__submenu {
    transform: translateX(0);
    visibility: visible;
  }
  .wbcategories #menu-drawer{
    max-height: 450px;
    overflow-y: auto;
    width: 300px;
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    top: 100%;
    margin: 0 auto;
    margin-top: 7px;
    pointer-events: none;
    overflow: hidden;
    border-radius: var(--popup-corner-radius);
    transition: all .3s linear 0s;
    filter: alpha(opacity=0);
    transform: scaleY(0);
    transform-origin: 0 0 0;
    border: none;
    box-shadow: 0 10px 30px -15px rgba(0,0,0,0.2);
  }
  .wbcategories desktop-webi-menu.open #menu-drawer {
    overflow: visible;
    transform: none;
    opacity: 1;
    overflow: visible;
    pointer-events: auto;
    filter: alpha(opacity=100);
    transform: scale(1);
    transition: all .3s linear 0s;
  }

  .wbcategories .summary .icon-caret {
    position: absolute;
    height: 0.6rem;
    right: 1.5rem;
    top: calc(50% - 0.3rem);
  }
  .wbcategories .summary {
    cursor: pointer;
    list-style: none;
    position: relative;
  }
  .wbcategories .menulist_show-mobile{
    display: none;
  }
  .js .wbcategories .menu-drawer__submenu{
    border: .1rem solid rgba(var(--color-foreground),.08);
    left: 100%;
    border-radius: var(--popup-corner-radius);
    width: calc(100vw - 380px); 
    max-width: calc(var(--page-width) - 380px);
    visibility: hidden;
    opacity: 0;
    transform: translate(20px);
    transition: opacity .3s ease 0s,transform .3s ease 0s;
    padding: 15px 0;
  }
  .menu-drawer__menu li.menuclick .menu-drawer__submenu {
    opacity: 1;
    transform: translate(0);
    visibility: visible;
  }
  .wbcategories .menu-drawer__menu li.menuclick .summary .icon-caret {
    transform: rotate(-90deg);
  }
}
@media screen and (max-width:991px){
  #menu-drawer{
    border-width: 1px 0 0 0;
  }
  .js .menu-drawer__menu-item .icon-caret,
  .no-js .menu-drawer .icon-arrow {
    display: none;
  }
  .menu-drawer__menu-item:focus,
  .menu-drawer__close-button:focus,
  .menu-drawer__menu-item:hover,
  .menu-drawer__close-button:hover {
    color: rgb(var(--color-foreground));
    background-color: rgba(var(--color-foreground), 0.04);
  }
  .menu-drawer .list-social__link:hover .icon path,
  .menu-drawer__close-button:hover .icon-arrow path,
  .menu-drawer__menu-item:hover .icon-arrow path{
    fill: rgb(var(--color-foreground));
  }
  .wbcategories {
    display: none;
  }
  .js .menu-drawer__submenu {
    border-left: none;
  }
  #menu-drawer {
    display: grid;
    grid-template-rows: 1fr auto;
    overflow-y: auto;
  }
  #menu-drawer.flex-menu {
    grid-template-rows: auto 1fr auto;
  }
  .wbcategories .menulist_show-desktop{
    display: none;
  }
  .mobile-drawer .mobile_menu_tab {
    display: none;
  }
  .mobile-drawer .mobile_menu_tab.active {
    display: block;
  }
  .mobile-drawer .fade {
    transition: opacity .15s linear;
  }
  .mobile-drawer .mobile_menu_tab:not(.active) {
    display: block;
    height: 0;
    overflow-y: hidden;
  }
  .mobile-drawer .mobile_menu_tab.fade:not(.active) {
    opacity: 0;
  }
  .mobilemenu-tab {
    padding: 0;
    margin: 0;
    display: flex;
    text-align: center;
    list-style: none;
    align-items: center;
    justify-content: center;
    border-top: 0.1rem solid rgba(var(--color-foreground), 0.04); 
    border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.04); 
    margin-bottom: 10px;
  }
  .mobilemenu-tab li {
    width: 50%;
    padding: 10px 5px;
    cursor: pointer;
  }
  .mobilemenu-tab li.active {
    background: rgb(var(--color-bg-button-hover));
    color: rgb(var(--color-button-hover-text));
  }
  .mobilemenu-tab {
    display: none;
  }
  .mobilemenu-tab.not-hidden {
    display: flex;
  }
}
@media screen and (max-width:767px){
  .menu-drawer__localization.header__localization{
    column-gap: 5px;
  }
}
@media (min-width: 576px) and (max-width: 991px){
  .menu-drawer{
    width: 100vw;
  }
  .menu-drawer__menu-item,.menu-drawer__close-button,.menu-drawer__utility-links .wbsecmenu ul{
    padding: 10px 15px;
  }
}
@media screen and (min-width: 768px) {
  .menu-drawer__utility-links:has(ul:nth-child(2):empty) {
    display: none;
  }
  .menu-drawer__localization localization-form .disclosure__button span, .disclosure span, .disclosure .disclosure__list-wrapper a.link {
    font-size: calc(var(--font-body-scale) * 14px);
  }
  .no-js .menu-drawer {
    height: auto;
  }
  .menu-drawer__menu .wbmgproduct .grid{
    column-gap: var(--grid-desktop-horizontal-spacing);
    row-gap: var(--grid-desktop-vertical-spacing);
  }
}