slider-component {
  --desktop-margin-left-first-item: max(5rem, calc((100vw - var(--page-width) + 10rem - var(--grid-desktop-horizontal-spacing)) / 2));
  position: relative;
  display: block;
}

slider-component.slider-component-full-width {
  --desktop-margin-left-first-item: 1.5rem;
}
.wb_home_sbtn{
  column-gap: 15px;
}
.slider-arrow--bottom .wb_home_sbtn .slider-button {
  color: rgba(var(--color-foreground));
}
.wb_home_sbtn .slider-button {
  color: rgba(var(--color-button-text));
  background: rgba(var(--color-button),var(--alpha-button-background));
  min-width: auto;
  min-height: auto;
  padding: 0;
}
/* .wb_home_sbtn .slider-button span{
  width: calc(4.2rem + var(--buttons-border-width) * 2);
  height: calc(4.2rem + var(--buttons-border-width) * 2);
} */
.slider-button {
  color: rgba(var(--color-foreground), 0.75);
  background: transparent;
  border: none;
  cursor: pointer;
  width: calc(4.2rem + var(--buttons-border-width) * 2);
  height: calc(4.2rem + var(--buttons-border-width) * 2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-button .icon {
  height: 14px;
  width: 14px;
}
.slider-button--next .icon {
  transform: rotate(-90deg);
}
.slider-button--prev .icon {
  transform: rotate(90deg);
}
.slider-button--next .icon.slider__arrow {
  transform: rotate(0deg);
}
.slider-button--prev:not([disabled]):hover .icon.slider__arrow{
  transform: rotate(180deg) scale(1.1);
}
.slider-button--next:not([disabled]):hover .icon.slider__arrow {
  transform: rotate(0deg) scale(1.1);
}
.slider-button--prev .icon.slider__arrow {
  transform: rotate(180deg);
}
.slider-button--next:not([disabled]):hover .icon {
  transform: rotate(-90deg) scale(1.1);
}
.slider-button--prev:not([disabled]):hover .icon {
  transform: rotate(90deg) scale(1.1);
}
button.slider-button.slider-button--prev.slider-top--prev, button.slider-button.slider-button--next.slider-top--next{
  position: absolute;
  top: 50%;
  background: rgba(var(--color-button),var(--alpha-button-background));
  color: rgb(var(--color-button-text));
  transition: .3s ease;
  opacity: 1;
  text-align: center;
  z-index: 1;
  min-width: 4.4rem;
}
button.slider-button.slider-button--prev.slider-top--prev{
  left: 0;
}
button.slider-button.slider-button--next.slider-top--next{
  right: 0;
}
button.slider-button.slider-button--prev.slider-top--prev[disabled],
button.slider-button.slider-button--prev.slider-top--prev::before[disabled],
button.slider-button.slider-button--next.slider-top--next[disabled],
button.slider-button.slider-button--next.slider-top--next::before[disabled],
.wb_home_sbtn.slider-buttons .slider-button::before[disabled],
.wb_home_sbtn.slider-buttons .slider-button[disabled]{
  background: rgba(var(--color-button),.5);
  opacity: 1;
  transition: opacity var(--duration-long) ease;
  -webkit-transition: opacity var(--duration-long) ease;
}
.slider-arrow--inline button.slider-button.slider-button--prev.slider-top--prev[disabled],
.slider-arrow--inline button.slider-button.slider-button--next.slider-top--next[disabled],
.slider-arrow--inline .wb_home_sbtn.slider-buttons .slider-button[disabled]{
  background: rgba(var(--color-button),.5);
  opacity: 0;
  transition: opacity var(--duration-long) ease;
  -webkit-transition: opacity var(--duration-long) ease;
}
.slider-arrow--bottom button.slider-button.slider-button--prev.slider-top--prev, .slider-arrow--bottom button.slider-button.slider-button--next.slider-top--next,
.slider-arrow--bottom .wb_home_sbtn .slider-button,
.slider-arrow--bottom .wb_home_sbtn.slider-buttons .slider-button[disabled]{
  background: transparent;
}
.wb_home_sbtn.slider-buttons .slider-button:not([disabled]) .icon{
  color: rgb(var(--color-button-text));
}
.wb_home_sbtn.slider-buttons .slider-button--next .icon{
  color: rgb(var(--color-button-text));
}
.slider-arrow--bottom .wb_home_sbtn.slider-buttons .slider-button:not([disabled]) .icon{
  color: rgb(var(--color-foreground));
}
.slider-arrow--bottom .wb_home_sbtn.slider-buttons .slider-button--next[disabled] .icon, .slider-arrow--bottom .wb_home_sbtn.slider-buttons .slider-button--prev[disabled] .icon{
  color: rgb(var(--color-foreground), 0.4);
}
.wb_home_sbtn.slider-buttons .slider-button.slider-button--next:not([disabled]):hover .icon,
.wb_home_sbtn.slider-buttons .slider-button.slider-button--prev:not([disabled]):hover .icon{
  color: rgb(var(--color-button-hover-text));
}
.wb_home_sbtn.slider-buttons .slider-button:not([disabled]):hover .icon{
  color: rgb(var(--color-button-hover-text));
}
.wb_home_sbtn.slider-buttons .slider-button[disabled]{
  cursor: auto;
}
.wb_home_sbtn .link{
  text-decoration: underline;
  min-height: auto;
}
.slider-arrow--inline button.slider-button.slider-button--prev, .slider-arrow--inline button.slider-button.slider-button--next{
  position: absolute;
  top: 50%;
  margin-top: -40px;
  background: rgba(var(--color-button),var(--alpha-button-background));
  color: rgb(var(--color-button-text));
  border-radius: var(--buttons-radius);
  transition: .3s ease;
  opacity: 1; 
  text-align: center;
  z-index: 1;
  border-radius: var(--buttons-radius-outset);
}
.slider-arrow--inline button.slider-button.slider-button--prev{
  left: -22px;
}
.slider-arrow--inline button.slider-button.slider-button--next{
  right: -22px;
}
.slider-arrow--inline .relative{
  position: relative;
}
@media screen and (max-width: 767px) {
  slider-component.page-width {
    padding: 0 1.5rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  slider-component.page-width {
    padding: 0 5rem;
  }
}

@media screen and (max-width: 991px) {
  .no-js slider-component .slider {
    padding-bottom: 3rem;
  }
}

.slider__slide {
  --focus-outline-padding: 0.5rem;
  --shadow-padding-top: calc((var(--shadow-vertical-offset) * -1 + var(--shadow-blur-radius)) * var(--shadow-visible));
  --shadow-padding-bottom: calc((var(--shadow-vertical-offset) + var(--shadow-blur-radius)) * var(--shadow-visible));
  scroll-snap-align: end;
  flex-shrink: 0;
  padding-bottom: 0;
}

@media screen and (max-width: 767px) {
  .slider.slider--mobile {
    position: relative;
    flex-wrap: inherit;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scroll-padding-left: 1.5rem;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 1rem;
  }

  /* Fix to show some space at the end of our sliders in all browsers */
  .slider--mobile:after {
    content: "";
    width: 0;
    padding-left: 1.5rem;
  }

  .slider.slider--mobile .slider__slide {
    margin-bottom: 0;
    padding-top: max(var(--focus-outline-padding), var(--shadow-padding-top));
    padding-bottom: max(var(--focus-outline-padding), var(--shadow-padding-bottom));
  }

  .slider.slider--mobile.contains-card--standard .slider__slide:not(.collection-list__item--no-media) {
    padding-bottom: var(--focus-outline-padding);
  }

  .slider.slider--mobile.contains-content-container .slider__slide {
    --focus-outline-padding: 0rem;
  }
}

@media screen and (min-width: 768px) {
  .slider.slider--tablet-up {
    position: relative;
    flex-wrap: inherit;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scroll-padding-left: 1rem;
    -webkit-overflow-scrolling: touch;
  }

  .slider.slider--tablet-up .slider__slide {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 991px) {
  .slider-arrow--inline button.slider-button.slider-button--prev {
    left: 0;
  }
  .slider-arrow--inline button.slider-button.slider-button--next {
    right: 0;
  }
  .slider-arrow--inline button.slider-button.slider-button--prev, .slider-arrow--inline button.slider-button.slider-button--next {
    top: 49%;
  }
  .slider.slider--tablet {
    position: relative;
    flex-wrap: inherit;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scroll-padding-left: 1.5rem;
    -webkit-overflow-scrolling: touch;
  }

  /* Fix to show some space at the end of our sliders in all browsers */
  .slider--tablet:after {
    content: "";
    width: 0;
    padding-left: 1.5rem;
    margin-left: calc(-1 * var(--grid-desktop-horizontal-spacing));
  }

  .slider.slider--tablet .slider__slide {
    margin-bottom: 0;
/*     padding-top: max(var(--focus-outline-padding), var(--shadow-padding-top)); */
  }

  .slider.slider--tablet.contains-card--standard .slider__slide:not(.collection-list__item--no-media) {
    padding-bottom: var(--focus-outline-padding);
  }

  .slider.slider--tablet.contains-content-container .slider__slide {
    --focus-outline-padding: 0rem;
  }
  .slider-arrow--bottom .slider--desktop{
    margin-bottom: 1rem;
  }
}

.slider--everywhere {
  position: relative;
  flex-wrap: inherit;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 1rem;
}

.slider.slider--everywhere .slider__slide {
  margin-bottom: 0;
  scroll-snap-align: center;
}
.slider-arrow--inline button.slider-button.slider-button--next:after{
  border-radius: var(--buttons-radius) 0 0 var(--buttons-radius);
}
.slider-arrow--inline button.slider-button.slider-button--prev:after{
  border-radius: 0 var(--buttons-radius) var(--buttons-radius) 0;
}
.slider-arrow--inline button.slider-button.slider-button--prev{
  left: 0;
  border-radius: 0 var(--buttons-radius-outset) var(--buttons-radius-outset) 0;
}
.slider-arrow--inline button.slider-button.slider-button--next{
  right: 0;
  border-radius: var(--buttons-radius-outset) 0 0 var(--buttons-radius-outset);
}
@media screen and (min-width: 992px) {
  .slider--desktop {
    position: relative;
    flex-wrap: inherit;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    margin-bottom: 0;
  }
  /* Fix to show some space at the end of our sliders in all browsers */
  .slider--desktop:after {
    display: none;
  }
  .slider-component-full-width .slider--desktop {
    scroll-padding-left: 1.5rem;
  }
  .slider-component-full-width .slider--desktop .slider__slide:first-child {
    margin-left: 1.5rem;
    scroll-margin-left: 1.5rem;
  }
  /* Fix to show some space at the end of our sliders in all browsers */
  .slider-component-full-width .slider--desktop:after {
    content: "";
    padding-left: 1.5rem;
  }
  .slider.slider--desktop.contains-card--standard .slider__slide:not(.collection-list__item--no-media) {
    padding-bottom: var(--focus-outline-padding);
  }
  .slider.slider--desktop.contains-content-container .slider__slide {
    --focus-outline-padding: 0rem;
  }
}

@media (prefers-reduced-motion) {
  .slider {
    scroll-behavior: auto;
  }
}

/* Scrollbar */

.slider {
  scrollbar-color: rgb(var(--color-foreground)) rgba(var(--color-foreground), 0.04);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-js .slider {
  -ms-overflow-style: auto;
  scrollbar-width: auto;
}

.no-js .slider::-webkit-scrollbar {
  display: initial;
}
.slider::-webkit-scrollbar{
  height: 5px;
}
.slider::-webkit-scrollbar-thumb {
  background-color: rgb(var(--color-foreground));
}

.slider::-webkit-scrollbar-track {
  background: rgba(var(--color-foreground), 0.1);
  border-radius: 0.4rem;
}
.slider::-webkit-scrollbar {
    height: 0.4rem;
    width: 0.4rem;
    display: none;
} 
.slider-counter {
  display: flex;
  justify-content: center;
  min-width: 4.4rem;
}
@media screen and (min-width: 768px) {
  .slider-counter--dots {
    margin: 0 1.2rem;
  }
}
.slider-counter__link {
  padding: .8rem;
}
@media screen and (max-width: 767px) {
  .slider-counter__link {
    padding: 0.7rem;
  }
}
.slider-counter__link--dots .dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.1rem solid rgba(var(--color-foreground), 0.5);
  padding: 0;
  display: block;
}
.slider-counter__link--active.slider-counter__link--dots .dot {
  background-color: rgb(var(--color-foreground));
  width: 30px;
  border-radius: 10px;
}
@media screen and (forced-colors: active) {
  .slider-counter__link--active.slider-counter__link--dots .dot {
    background-color: CanvasText;
  }
}
.slider-counter__link--dots:not(.slider-counter__link--active):hover .dot {
  border-color: rgb(var(--color-foreground));
}
.slider-counter__link--dots .dot,
.slider-counter__link--numbers {
  transition: transform 0.2s ease-in-out;
}
.slider-counter__link--active.slider-counter__link--numbers,
.slider-counter__link--dots:not(.slider-counter__link--active):hover .dot,
.slider-counter__link--numbers:hover {
  transform: scale(1.1);
}
.slider-counter__link--numbers {
  color: rgba(var(--color-foreground), 0.5);
  text-decoration: none;
}
.slider-counter__link--numbers:hover {
  color: rgb(var(--color-foreground));
}
.slider-counter__link--active.slider-counter__link--numbers {
  text-decoration: underline;
  color: rgb(var(--color-foreground));
}
.slider-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
slideshow-component .slideshow__controls.slider-buttons{
  display: unset;
  max-width: fit-content;
}
slideshow-component .pagenation_align--center.slider-buttons{
  margin: 0 auto;
}
slideshow-component .pagenation_align--right.slider-buttons{
  margin: auto 0 auto auto;
}

@media screen and (min-width: 992px) {
  .slider:not(.slider--everywhere):not(.slider--desktop) + .slider-buttons {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .slider--desktop:not(.slider--tablet) + .slider-buttons {
    display: none;
  }
  .slider-button {
    width: calc(3.2rem + var(--buttons-border-width) * 2);
    height: calc(3.2rem + var(--buttons-border-width) * 2);
  }
  .wb_home_sbtn {
    column-gap: 5px;
  }
  .wb_home_sbtn > a.button {
    min-width: calc(10rem + var(--buttons-border-width) * 2);
    min-height: calc(3.2rem + var(--buttons-border-width) * 2);
    padding: 5px 8px;
  }
}

@media screen and (min-width: 768px) {
  .slider--mobile + .slider-buttons {
    display: none;
  }
  .home-collect.over .slider-arrow--inline button.slider-button.slider-button--prev,
  .home-collect.over .slider-arrow--inline button.slider-button.slider-button--next {
    top: 55%; 
  }
}

@media (max-width: 767px) {
  .home-collect.over .slider-arrow--inline button.slider-button.slider-button--prev,
  .home-collect.over .slider-arrow--inline button.slider-button.slider-button--next {
    top: 62%; 
  }
}