/* image banner section css */
.imgbcount {
  margin-bottom: 15px;
}
.imgbcount {
  display: flex;
  gap: 10px;
  text-align: center;
  align-items: center;
}
.imgbcount .time {
  min-width: 75px;
  min-height: 75px;
  background: rgba(var(--color-foreground),.2);
  color: rgba(var(--color-foreground));
  padding: 4px 0;
}
.imgbcount span.count {
  font-size: calc(var(--font-body-scale) * 30px);
  display: block;
  line-height: normal;
  margin-top: 0;
}
.imgbcount span {
  margin-top: 2px;
  font-size: calc(var(--font-body-scale) * 14px);
  display: block;
}
.imagebannermain .section--full-width {
  padding-left: 0;
  padding-right: 0;
}
.wbimgbnrblock .banner__content{
  padding: 24px;
}
.wbimgbnrblock .media>*:not(.zoom):not(.deferred-media__poster-button), .wbimgbnrblock .media model-viewer{
  display: flex;
}
.wb_banner_cover{
  position: relative;
  border-radius: var(--media-radius);
}
.wbimgbnrblock .banner--small:not(.banner--adapt) .wb_banner_cover{
  min-height: 35rem;
}
.wbimgbnrblock .banner--medium:not(.banner--adapt) .wb_banner_cover{
  min-height: 40rem;
}
.wbimgbnrblock .banner--large:not(.banner--adapt) .wb_banner_cover{
  min-height: 45rem;
}

.wbimgbnrblock .banner--small:not(.banner--adapt) .banner__content,.wbimgbnrblock .banner--medium:not(.banner--adapt) .banner__content,
.wbimgbnrblock .banner--large:not(.banner--adapt) .banner__content{
  min-height: unset;
}
.wbimgbnrblock .banner--adapt .media.placeholder{
  padding-bottom: 100%;
}
.wbimgbnrblock .banner--adapt .banner__content{
  position: absolute;
  left: 0;
  right: 0;
  top: calc(var(--media-border-width) / 2);
  bottom: 0;
}
.wbimgbnrblock .placeholder-svg {
    border-radius: calc(var(--media-radius) - var(--media-border-width));
}
.wbimgbnrblock .media:not(.video-overlay):after  {
  content: "";
  position: absolute;
  top: 0;
  background: rgb(var(--color-background));
  width: 100%;
  border-radius: var(--media-radius);
  height: 100%;
  left: 0;
}
.wbimgbnrblock .banner__subheading {
  font-size: calc(var(--font-heading-scale) * 14px);
  margin-bottom: 10px;
}
.wbimgbnrblock .banner__subheading p,.wbimgbnrblock .banner__heading p{
  margin-bottom: 0;
}
.wbimgbnrblock .banner__text p {
  font-size: calc(var(--font-body-scale) * 14px);
  line-height: normal;
}
.wbimgbnrblock .banner__subheading p {
  font-size: calc(var(--font-body-scale) * 16px);
  font-weight: var(--font-body-weight-bold);
}
.wbimgbnrblock .banner__heading {
  font-weight: var(--font-body-weight-bold);
  line-height: normal;
}
.wbimgbnrblock .banner__heading.large {
  font-size: calc(var(--font-heading-scale) * 44px);
  margin-bottom: 10px;
}
.wbimgbnrblock .banner__heading.h0 {
  font-size: calc(var(--font-heading-scale) * 34px);
  margin-bottom: 10px;
}
.wbimgbnrblock .banner__heading.h1 {
  font-size: calc(var(--font-heading-scale) * 32px);
  margin-bottom: 20px;
}
.wbimgbnrblock .banner__heading.h2 {
  font-weight: var(--font-body-weight-semibold);
  font-size: calc(var(--font-heading-scale) * 24px);
  margin-bottom: 10px; 
}

.wbimgbnrblock .banner__box .banner__heading+*,.wbimgbnrblock .banner__box>*+.banner__text{
  margin-top: 0;
}
.wbimgbnrblock .banner__text {
  margin-bottom: 20px;
}
.wbimgbnrblock .banner__box>*+.banner__buttons {
  margin-top: 1rem;
  gap: 1rem;
}
.wb_banner_cover .banner__box {
  min-width: unset;
  max-width: 50rem;
}
/* image banner section css over */

.banner:not(.collage-grid-container, .image--fixed):after,
.banner__media:not(.video-overlay)::after {
  content: '';
  position: absolute;
  top: 0;
  background: rgb(var(--color-foreground));
  opacity: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: var(--media-radius);
}
.banner {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap; 
}
.banner__box {
  text-align: center;
}
.banner__text.rte.description {
  color: rgb(var(--color-foreground));
}
.banner__media {
  height: 100%;
  position: absolute; 
  left: 0;
  top: 0;
  width: 100%;
  border-radius: var(--media-radius);
}
.banner__box.gradient {
  transform: perspective(0);
}
.banner__media.animate--zoom-in {
  clip-path: inset(0px);
}
.banner__media.animate--zoom-in > img:not(.zoom):not(.deferred-media__poster-button),
.banner__media.animate--zoom-in > svg:not(.zoom):not(.deferred-media__poster-button) {
  position: fixed;
  height: 100vh;
}

.banner__media-half {
  width: 50%;
}
.banner__media-half + .banner__media-half {
  right: 0;
  left: auto;
}
.banner__media-half.animate--fixed:first-child > img,
.banner__media-half.animate--zoom-in:first-child > img {
  width: 50%;
}

.banner__media-half.animate--fixed:nth-child(2) > img,
.banner__media-half.animate--zoom-in:nth-child(2) > img {
  left: 50%;
  width: 50%;
}
.banner img.zoom_effect{
  transition: transform var(--duration-extra-long) ease;
  will-change: transform;
}
.wb_banner_cover:hover img.zoom_effect{
  transform: scale(1.06);
}
@media (min-width: 992px) and (max-width: 1199px) {
  .wbimgbnrblock .banner__heading.large {
    font-size: calc(var(--font-heading-scale) * 30px);
  }
  .wbimgbnrblock .banner__heading.h0 {
    font-size: calc(var(--font-heading-scale) * 28px);
  }
  .wbimgbnrblock .banner__heading.h1 {
    font-size: calc(var(--font-heading-scale) * 22px);
  }
  .wbimgbnrblock .banner__heading.h2 {
    font-size: calc(var(--font-heading-scale) * 20px);
  }
  .wbimgbnrblock .banner__text {
    margin-bottom: 6px;
  }
}
@media screen and (max-width: 1199px) {
  .wbimgbnrblock .banner__text {
    margin-bottom: 6px;
  }
}
@media screen and (max-width: 767px) {
  .wbimgbnrblock .banner__box>*+.banner__buttons, .imgbcount {
    justify-content: center;
  }
  .banner__buttons a {
    font-size: calc(var(--font-body-scale) * 14px);
  }
  .banner--stacked .animate--fixed:first-child > img,
  .banner--stacked .animate--zoom-in:first-child > img {
    width: 100%;
  }

  .banner--stacked .banner__media-half.animate--fixed:nth-child(2) > img,
  .banner--stacked .banner__media-half.animate--zoom-in:nth-child(2) > img {
    left: 0;
    width: 100%;
  }

  .banner--stacked .banner__media-half {
    width: 100%;
  }

  .banner--stacked .banner__media-half + .banner__media-half {
    order: 1;
  }
}

@media screen and (min-width: 768px) {
  .banner__media {
    height: 100%;
  }
}
.banner--desktop-transparent {
  background: transparent;
}
.banner--adapt {
  height: auto;
}
.banner__box {
  padding: 4rem 3.5rem;
  position: relative;
  height: fit-content;
  align-items: center;
  text-align: center;
  width: 100%;
  word-wrap: break-word;
  z-index: 1;
}
.banner__box > * + .banner__text {
  margin-top: 1.5rem;
}

/* .banner__box > * + * {
  margin-top: 1rem;
} */
.banner__box > *:first-child {
  margin-top: 0;
}
.banner__box .banner__heading + * {
  margin-top: 1rem;
}
.banner__buttons {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 45rem;
  word-break: break-word;
}
.banner__box > * + .banner__buttons {
  margin-top: 3rem;
}
.banner__content {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 2;
  padding: 20px;
}
.slideshow__media.banner__media:after {
  content: "";
  position: absolute;
  top: 0;
  background: rgb(var(--color-foreground));
  opacity: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.slider-alt-text {
  position: absolute;
  color: var(--white-color);
  right: 50px;
  bottom: 20px;
  z-index: 1;
}
.image--banner .slider--desktop{
  overflow-x: hidden;
}
@media (min-width: 992px) and (max-width: 1399px) {
  .imgbcount {
    gap: 5px;
  }
  .imgbcount .time {
    min-width: 60px;
    min-height: 60px;
  }
  .imgbcount span.count {
    font-size: calc(var(--font-body-scale) * 20px);
  }
  .imgbcount span {
    font-size: calc(var(--font-body-scale) * 12px);
  }
}
@media screen and (max-width: 767px) {
  .wb_banner_cover .banner__box {
    max-width: 100%;
  }
  .section-image-banner .wb_banner_cover {
    max-width: 100% !important;
    width: 100% !important;
  }
  .slideshow .banner__box {
    padding: 1rem;
  }
  .banner--content-align-mobile-right .banner__box{
    text-align: right;
  }
  .banner--content-align-mobile-left .banner__box{
    text-align: left;
  }
  .hero-banner.banner--content-align-mobile-right .rich-text__buttons{
    justify-content: flex-end;
  }
  .hero-banner.banner--content-align-mobile-left .rich-text__buttons{
    justify-content: flex-start;
  }
  .banner--small.banner--mobile-bottom:not(.banner--adapt) .banner__media,
  .banner--small.banner--stacked:not(.banner--mobile-bottom):not(.banner--adapt) > .banner__media {
    height: 28rem;
  }
  .banner--medium.banner--mobile-bottom:not(.banner--adapt) .banner__media,
  .banner--medium.banner--stacked:not(.banner--mobile-bottom):not(.banner--adapt) > .banner__media {
    height: 34rem;
  }
  .banner--large.banner--mobile-bottom:not(.banner--adapt) .banner__media,
  .banner--large.banner--stacked:not(.banner--mobile-bottom):not(.banner--adapt) > .banner__media {
    height: 39rem;
  }
  .banner--small:not(.banner--mobile-bottom):not(.banner--adapt) .banner__content {
    min-height: 28rem;
  }
  .banner--medium:not(.banner--mobile-bottom):not(.banner--adapt) .banner__content {
    min-height: 34rem;
  }
  .banner--large:not(.banner--mobile-bottom):not(.banner--adapt) .banner__content {
    min-height: 39rem;
  }

  .wbimgbnrblock .banner--small:not(.banner--adapt) .banner__content,.wbimgbnrblock .banner--medium:not(.banner--adapt) .banner__content,
  .wbimgbnrblock .banner--large:not(.banner--adapt) .banner__content {
    min-height: unset;
  }
  .wbimgbnrblock .banner--small:not(.banner--adapt) .wb_banner_cover{
    min-height: 25rem;
  }
  .wbimgbnrblock .banner--medium:not(.banner--adapt) .wb_banner_cover{
    min-height: 30rem;
  }
  .wbimgbnrblock .banner--large:not(.banner--adapt) .wb_banner_cover{
    min-height: 35rem;
  }
  .banner:not(.banner--stacked) {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .banner--stacked {
    height: auto;
  }
  .banner--stacked .banner__media {
    flex-direction: column;
  }
  .hidden-slider-image-mobile{
    display: none;
  } 
  .section-image-banner .banner__box {
    height: fit-content;
    width: fit-content;
    padding: 1.5rem;
  }
  .banner:not(.slideshow) .rte a,
  .banner:not(.slideshow) .inline-richtext a:hover,
  .banner:not(.slideshow) .rte a:hover {
    color: currentColor;
  }
  .banner--content-align-mobile-right .banner__buttons--multiple {
    justify-content: flex-end;
  }

  .banner--content-align-mobile-center .banner__buttons--multiple > * {
    flex-grow: 1;
    min-width: 22rem;
  }
  .banner--stacked .banner__box {
    width: 100%;
  }
  .banner--mobile-bottom::after,
  .banner--mobile-bottom .banner__media::after {
    display: none;
  }
  .banner--mobile-bottom:not(.banner--stacked) .banner__content {
    order: 2;
  }
  .banner:not(.banner--mobile-bottom) .field__input {
    background-color: transparent;
  }
  .banner--stacked .banner__media-half {
    width: 100%;
  }
  .banner--stacked .banner__media-half + .banner__media-half {
    order: 1;
  }
  .banner--mobile-bottom .banner__media,
  .banner--stacked:not(.banner--mobile-bottom) .banner__media {
    position: relative;
  }
  .banner--stacked.banner--adapt .banner__content {
    height: auto;
  }
  .section-image-banner .banner:not(.banner--mobile-bottom) .banner__box {
    border: var(--text-boxes-border-width) solid rgba(var(--color-foreground),var(--text-boxes-border-opacity));
  }
  /* .banner:not(.banner--mobile-bottom):not(.email-signup-banner) .banner__box {
    background: transparent;
  } */
/* 
  .banner:not(.banner--mobile-bottom) .button--secondary {
    --alpha-button-background: 0;
  }
*/
  .section:not(.section-image-banner) .banner:not(.banner--mobile-bottom):not(.email-signup-banner) .banner__box {
    background: transparent;
  }
  .banner:not(.banner--mobile-bottom) .banner__box {
    border: none;
    border-radius: var(--media-radius);
    box-shadow: none;
  }
  .banner:not(.banner--mobile-bottom) .button--secondary {
    --alpha-button-background: 0;
  }
  .banner--stacked:not(.banner--mobile-bottom):not(.banner--adapt) .banner__content {
    position: absolute;
    height: auto;
  }
  .banner--stacked.banner--adapt:not(.banner--mobile-bottom) .banner__content {
    max-height: 100%;
    overflow: hidden;
    position: absolute;
  }
  .banner--stacked:not(.banner--adapt) .banner__media {
    position: relative;
  }
  .banner--stacked .banner__media-image-half {
    width: 100%;
  }
  .email-signup-banner .banner__box, .email-signup-banner .banner__content{
    padding: 10px;
  }
  
  .slideshow__text .banner__heading.h0{
    font-size: calc(var(--font-heading-scale) * 30px);
  }
  .mobile-text-below .slideshow__controls.wb_contrs.slider-buttons{
    position: unset; 
    margin-top: 2px;
  }
  .mobile-text-below .slideshow .banner__box>*+.banner__buttons{
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .banner--content-align-right .banner__box {
    text-align: right;
  }
  .banner--content-align-left .banner__box {
    text-align: left;
  }
  .banner--content-align-center .imgbcount {
    justify-content: center;
  }
  .banner--content-align-right .imgbcount {
    justify-content: end;
  }
  .banner--content-align-left.banner--desktop-transparent .banner__box,
  .banner--content-align-right.banner--desktop-transparent .banner__box,
  .banner--medium.banner--desktop-transparent .banner__box {
    max-width: 68rem;
  }
  .banner {
    flex-direction: row;
  }
  .banner--small:not(.banner--adapt) .banner__content{
    min-height: 42rem;
  }
  .banner--medium:not(.banner--adapt) .banner__content{
    min-height: 56rem;
  }
  .banner--large:not(.banner--adapt) .banner__content{
    min-height: 72rem;
  }
  .banner__content.banner__content--top-left {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .banner__content.banner__content--top-center {
    align-items: flex-start;
    justify-content: center;
  }
  .banner__content.banner__content--top-right {
    align-items: flex-start;
    justify-content: flex-end;
  }
  .banner__content.banner__content--middle-left {
    align-items: center;
    justify-content: flex-start;
  }
  .banner__content.banner__content--middle-center {
    align-items: center;
    justify-content: center;
  }
  .banner__content.banner__content--middle-right {
    align-items: center;
    justify-content: flex-end;
  }
  .banner__content.banner__content--bottom-left {
    align-items: flex-end;
    justify-content: flex-start;
  }
  .banner__content.banner__content--bottom-center {
    align-items: flex-end;
    justify-content: center;
  }
  .banner__content.banner__content--bottom-right {
    align-items: flex-end;
    justify-content: flex-end;
  }
  .section-image-banner .banner__box {
    padding: 1rem;
  }
  .banner--content-align-center .banner__buttons--multiple {
    justify-content: center;
  }

  .banner--content-align-right .banner__buttons--multiple {
    justify-content: flex-end;
  }
  .banner__box {
    width: auto;
    max-width: 71rem;
    min-width: 45rem;
  }
  .hero-banner .banner__box{
    max-width: 60rem;
  }
  .banner--desktop-transparent .content-container:after {
    display: none;
  }
  .banner__box > * + .banner__text {
    margin-top: 1rem;
  }
  .banner__media {
    height: 100%;
  }

  .banner__content--top-left {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .banner__content--top-center {
    align-items: flex-start;
    justify-content: center;
  }

  .banner__content--top-right {
    align-items: flex-start;
    justify-content: flex-end;
  }

  .banner__content--middle-left {
    align-items: center;
    justify-content: flex-start;
  }

  .banner__content--middle-center {
    align-items: center;
    justify-content: center;
  }

  .banner__content--middle-right {
    align-items: center;
    justify-content: flex-end;
  }

  .banner__content--bottom-left {
    align-items: flex-end;
    justify-content: flex-start;
  }

  .banner__content--bottom-center {
    align-items: flex-end;
    justify-content: center;
  }

  .banner__content--bottom-right {
    align-items: flex-end;
    justify-content: flex-end;
  }
  .hidden_desktop{
    display: none;
  } 
}
@media (max-width: 991px){
  .imgbcount {
    gap: 4px;
  }
  .imgbcount .time {
    min-width: 45px;
    min-height: 45px;
    padding: 0 0;
  }
  .imgbcount span.count {
    font-size: calc(var(--font-body-scale) * 18px);
  }
  .imgbcount span {
    font-size: calc(var(--font-body-scale) * 12px);
  }
  .banner__box>*+.banner__buttons {
    margin-top: 1rem;
  }
  .wbimgbnrblock .banner__heading.large {
    font-size: calc(var(--font-heading-scale) * 24px);
  }
  .wbimgbnrblock .banner__heading.h0 {
    font-size: calc(var(--font-heading-scale) * 22px);
  }
  .wbimgbnrblock .banner__heading.h1 {
    font-size: calc(var(--font-heading-scale) * 20px);
    margin-bottom: 10px;
  }
  .wbimgbnrblock .banner__heading.h2 {
    font-size: calc(var(--font-heading-scale) * 18px);
  }

  .wbimgbnrblock .banner__content{
    padding: 10px;
  }
  .section-image-banner .wbimgbnrblock .banner__box, .imagebannermain .wbimgbnrblock .banner__box {
    padding: 10px;
  }
  .wbimgbnrblock .link.underlined-link {
    min-height: unset;
  }
}