.article-template .media>*.wb_date:not(.zoom):not(.deferred-media__poster-button) {
  width: fit-content;
  height: fit-content;
  top: auto;
  left: 10px;
  line-height: calc(1 + 0.8 / var(--font-body-scale));
}
.article-template .article-template_author_social {
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.article-template .article__details{
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  font-weight: var(--font-body-weight-medium);
  margin: 20px 0;
}
.article-template .article_header_wrapper{
  position: relative;
}
.main-blog .mainblogs, .article-template .mainblogs {
  display: flex;
  column-gap: var(--grid-desktop-horizontal-spacing);
  row-gap: var(--grid-desktop-vertical-spacing);
}
.main-blogdate {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.article-template .article_header_info {
  position: unset;
  padding: 20px 0 0;
  border-radius: var(--media-radius);
  margin-bottom: 30px;
}
.article-template .article_tags_wrapper {
  display: flex;
  gap: 5px;
  list-style: none;
  flex-wrap: wrap;
  margin: 20px 0;
  padding-left: 0;
} 
.article-template .excerpt {
  margin: 20px 0;
}
.article-template .article-template__link:hover svg path{
  fill: rgb(var(--color-link-hover));
} 
.article-template__comment-wrapper .article__details .circle{
  border-radius: 50%;
}
.article-template .comment_info > * {
  display: block;
  line-height: 1.5;
}
.article-template .previous_next_buttons img {
  object-fit: contain;
  border-radius: var(--media-radius);
}
.blogspace {
  border-radius: var(--media-radius);
}
.page-article .article-template .article_content {
  margin-bottom: 3rem;
}
.article-template .previous_next_buttons svg{
  height: 14px;
  width: 14px;
  margin-bottom: 3px;
  transition: none;
}
.article-template .previous_next_buttons .article-dummy-image svg{
  height: 80px;
  width: 80px;
}
.article-template .previous_next_buttons .article_arrow .article_arrow_content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.article-template .article_arrow_content h4 {
  font-size: calc(var(--font-heading-scale) * 1.4rem);
  margin: 0;
}
.article-template .previous_next_buttons .article_arrow{
  display: flex;
  gap: 10px;
}
.article-template .previous_next_buttons .article {
  width: 44%;
}
.article-template .previous_next_buttons .saprater {
  height: 80px;
  width: 2px;
  display: inline-block;
  background: rgba(var(--color-foreground),.1);
  text-align: center;
}
.saprater-main{
  line-height: 0;
}
.article-template .previous_next_buttons {
  margin: 3rem 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.article-template iframe{
  width: 100%;
}
.article-template figure{
  margin-left: 0;
  margin-right: 0;
}
.article-template .article-template__comment-wrapper .icon--avatar path,
.article-template .article-template__comment-wrapper .icon--avatar circle,
.article-template .article-template__link .icon path {
  fill: rgb(var(--color-foreground));
}
.article-template__hero-small { 
  height: 11rem;
}
.article-template__hero-medium {
  height: 22rem;
}
.article-template__hero-large {
  height: 33rem;
}

.article-template header {
  margin-top: 3rem;
  margin-bottom: 1rem;
  line-height: calc(0.8 / var(--font-body-scale));
}
.article-template__link {
  font-size: 1.6rem;
  display: flex;
  justify-content: left;
  align-items: center;
  text-decoration: none;
}

.article-template__link .icon-wrap {
  display: flex;
  margin-right: 1rem;
  transform: rotate(180deg);
}

.article-template__content {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.article-template__social-sharing + header,
.article-template__social-sharing + .article-template__content {
  margin-top: 1.5rem;
}
.article-template__comment-wrapper h2 {
  margin-top: 0;
}

.article-template__comments-fields {
  margin-bottom: 4rem;
}

.article-template__comments-comment {
  color: rgba(var(--color-foreground), 0.75);
  background-color: rgb(var(--color-background));
  margin-bottom: 1.5rem;
  padding: 2rem;
  background: rgba(var(--color-foreground),0.05);
  border-radius: var(--bg-radius);
}

.article-template__comments-comment p {
  margin: 0 0 1rem;
}

.article-template__comment-fields > * {
  margin-bottom: 3rem;
}

.article-template__comment-warning {
  margin: 2rem 0 2.5rem;
}
.article-template__comments .pagination-wrapper{
  margin-bottom: 4rem;
}
.main-blogdate .article_tags_wrapper li a {
  margin-bottom: 0;
}
.main-blogdate .article_tags_wrapper li a.button {
  min-height: calc(3.5rem + var(--buttons-border-width) * 2);
}
.article-template .block_wrapper .article_header_info h1 {
  font-size: calc(var(--font-heading-scale) * 2.6rem);
  margin: 0;
}
@media(max-width:575px){
  .article-template .article-template_author_social{
    flex-direction: column;
  }
  .article-template .previous_next_buttons .saprater{
    display: none;
  }
  .article-template .previous_next_buttons .article{
    width: 100%;
  }
  .article-template .article_arrow_content svg{
    height: 12px;
    width: 12px;
  }
  .article-template .article__details{
    margin: 0;
  }
  .article-template .article_arrow_content span,
  .article-template .article_arrow_content h4{
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .article-template__hero-small {
    height: 22rem;
  }
  .article-template__hero-medium {
    height: 44rem;
  }
  .article-template__hero-large {
    height: 66rem;
  }
}
@media screen and (min-width: 768px) {
  .article-template .block_wrapper .article_header_info {
    padding: 12px 24px;
  }
  .article-template .article_header_info{
    padding: 30px;
  }
  .article-template .article_header_info::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: var(--media-radius);
    height: 100%;
    z-index: -1;
  }
  .article-template__comment-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4rem;
    margin-top: 20px;
  }
}
@media screen and (max-width: 767px) {
  .article-template .article_header_info {
    padding: 15px;
  }
  .article-template .block_wrapper .article_header_info h1 {
    font-size: calc(var(--font-heading-scale) * 2.2rem);
  }
  .article-template .article_arrow_content h4 {
    font-size: calc(var(--font-heading-scale) * 1.3rem);
  }
}
@media screen and (max-width: 575px) {
  .article-template .block_wrapper .article_header_info h1 {
    font-size: calc(var(--font-heading-scale) * 1.8rem);
  }
  .article-template .article_header_info {
    padding: 12px;
  }
  .article-template .article_header_info {
    margin-bottom: 20px;
  }
  .main-blogdate .article_tags_wrapper li a.button {
    min-height: calc(3rem + var(--buttons-border-width) * 2);
  }
  .article-template .excerpt {
    margin: 15px 0;
  }
  .article-template .article-template_author_social {
    align-items: self-start;
    margin: 15px 0;
    gap: 10px;
  }
  .article-template .list-social__link {
    padding: 0 1.4rem 0 0;
  }
  .article-template .previous_next_buttons {
    margin: 2rem 0;
  }
}
@media screen and (max-width: 991px) {
  .main-blog .mainblogs, .article-template .mainblogs {
    display: grid;
  }
  .page-article .article-template .article_content{
    padding: 0;
  }
}
@media screen and (min-width: 992px) {
  .article-template__hero-small {
    height: 27.5rem;
  }
  .article-template__hero-medium {
    height: 55rem;
  }
  .article-template__hero-large {
    height: 82.5rem;
  }
}
@media screen and (min-width: 992px) {
  .article-template__comments .pagination-wrapper {
    margin: 5rem 0 8rem;
  }
}
@media screen and (min-width:1400px) {
  /* .page-article .page-width.breadcrumb_main{
    padding: 0;
  }
  .page-article .page-width.breadcrumb_main,
  .article-template .secondary-bg-spacing {
    max-width: 130rem;
    margin: 0 auto;
  } */
}
