.add_collspace {
  padding: 10px !important;
}
.home-collect .blank__image, .home-collect .blank_coll {
  width: 100% !important;
}
.home-collect .collection-list__item{
/*   flex: 1; */
  position: relative;
  transition: 0.3s ease;
}
.home-collect .collection-list__item:hover {
/*   flex: 2; */
}
.home-collect .grid__item {
  max-width: unset;
}
.collection-list {
  margin-top: 0;
  margin-bottom: 0;
}
.collection-list-title ,.wp_itom_count{
  margin: 0;
}
.collection-list-wrapper .card-wrapper .card{
  flex-direction: row-reverse;
  align-items: center;
}
.collection-list-wrapper.flex-direction--column .card-wrapper .card{
  flex-direction: column;
  align-items: center;
}
.collection-list-wrapper.flex-direction--column .card-wrapper .card{
  text-align: center;
}
.collection-list-wrapper .coll-direction-row .card>.card__content.left, .collection-list-wrapper .coll-direction-row .card .blank__image.left{
  text-align: left;
}
.collection-list-wrapper .coll-direction-row .card>.card__content, .collection-list-wrapper .coll-direction-row .card .blank__image {
  text-align: center;
}
.insidecoll .collection-list-wrapper.flex-direction--column .wp_itom_count {
  line-height: normal;
}
.collection-list-wrapper .collection-card-wrapper .wp_itom_count {
  margin-top: 4px;
}
.collection-card-info .grid{
  border-radius: calc(var(--border-radius) - var(--border-width) - var(--image-padding));
  margin: 0;
}
.insidecoll .collection-list-wrapper .coll-direction-row .card.card--media {
  flex-direction: row;
}
.insidecoll .collection-list-wrapper .coll-direction-row .card__inner {
  width: 40%;
}
.insidecoll .collection-list-wrapper .coll-direction-row .card__content {
  width: 60%;
}
.collection-list-wrapper .coll-direction-row .card--standard>.card__content {
  padding: 0 6px;
}
.collection-list.slider.slider--tablet .collection-list__item.slider__slide{
  padding-top: 0;
}
.collection-card-info .disabled-carousel-card.grid.coll--direction-row{
  row-gap: 1px;
}
.collection-card-info .card--card{
  border-radius: var(--collection-card-corner-radius);
}
.collection-list-view-all {
  margin-top: 2rem;
}
.collection-list-wrapper .card__heading{
  letter-spacing: 0.2px;
  margin: 0;
  margin-bottom: 0;
}
.collection-list-wrapper .collection-list__item{
  padding-left: 0;
  margin: 0;
  list-style: none;
}
.collection-card-info .collection-list__item{
  display: flex;
  flex-direction: column;
}
.collection-card-info.flex-direction--row .collection-list__item.coll-direction-row {
  row-gap: var(--grid-desktop-vertical-spacing);
}
.collection-card-info.flex-direction--column .collection-list__item{
  row-gap: var(--grid-desktop-vertical-spacing);
}
.collection-list-wrapper.flex-direction--column .card.card--card:hover {
  transition: .5s ease;
}
/* .wbmaincol-page .card--card.card--text .card__inner{
  display: none;
} */
.wbmaincol-page .card__information{
  margin-bottom: 0;
}
.wbmaincol-page .wp_itom_count{
  margin-top: 10px;
}
.wbmaincol-page .card__heading{
  font-size: calc(var(--font-heading-scale) * 16px);
  margin-top: 10px;
}
.wbmaincol-page .card__caption{
  margin-bottom: 0;
  margin-top: 10px;
}
.wbmaincol-page .card--card.card--media>.card__content{
  margin-top: 0;
  padding-top: 0;
}
.collection_list_svg.ratio.portrait{
    --ratio-percent: 125.0%;
}
.collection_list_svg.ratio.square{
    --ratio-percent: 100%;
}
.collection-list-wrapper .card__heading {
  font-size: calc(var(--font-body-scale) * 16px);
}
.collection-list-wrapper .card__heading.small {
  font-size: calc(var(--font-body-scale) * 16px);
}
.collection-list-wrapper .card__heading.medium {
  font-size: calc(var(--font-body-scale) * 20px);
}
.collection-list-wrapper .card__heading.large {
  font-size: calc(var(--font-body-scale) * 24px);
}
.collection-list-wrapper .card--standard>.card__content {
  padding: 15px 0 0;
} 
.collection-list-wrapper .card--standard>.card__content.over {
  position: absolute;
  width: auto;
  height: 100%;
  top: 0;
  left: var(--border-width);
  right: var(--border-width);
  padding: 15px;
  overflow: hidden;  
}
.card .collection-corner, .card .collection-corner .placeholder-svg, .card--card.shadow-corner:after, .card--standard .card__inner.collection-corner:after {
  border-radius: 100% !important;
}
.collection-list-wrapper .card .card__inner .card__media img{
  width: 100%;
  height: 100%;
}
.collection-list-wrapper .media>img{
  border-radius: calc(var(--border-radius) - var(--border-width) - var(--image-padding))
}
.webcolltop {
  margin-top: 20px;
  min-width: auto !important;
  letter-spacing: 0.3px;
}
.webcolltop span {
  word-break: break-word;
}
@media screen and (max-width: 1199px){
  .collection-list-wrapper .card__heading{
    font-size: calc(var(--font-body-scale) * 16px);
  }
  .collection-list-wrapper .card__heading.small {
    font-size: calc(var(--font-body-scale) * 16px);
  }
  .collection-list-wrapper .card__heading.medium {
    font-size: calc(var(--font-body-scale) * 18px);
  }
  .collection-list-wrapper .card__heading.large {
    font-size: calc(var(--font-body-scale) * 20px);
  }
  .collection-list-wrapper .card__information .wp_itom_count{
    font-size: calc(var(--font-body-scale) * 14px);
  }
}
@media screen and (min-width: 768px){
  .collection-list-wrapper .contains-card{
    row-gap: var(--grid-desktop-vertical-spacing);
    column-gap: var(--grid-desktop-horizontal-spacing);
  }
}
@media (max-width: 991px) {
  .collection-list-wrapper .card--standard>.card__content.over {
    padding: 8px;
  }
  .webcolltop {
    margin-top: 10px;
  }
}
@media screen and (max-width: 767px){
  .wbmaincol-page .card__caption{
    font-size: calc(var(--font-body-scale) * 12px);
  }
  .collection-card-info .card__information p {
    margin-bottom: 0;
  }
}